<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TyperTraining</title>
    <link rel="stylesheet" href="/scripts/css/main.css">
    <link rel="icon" href="/scripts/images/keyboard.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/scripts/images/keyboard.ico" type="image/x-icon">
</head>
<body>
    <div class="nube" id="nube1" style="position: absolute; top:20px; left: 20px;">
        <table>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
        </table>
    </div>
    <div class="nube" id="nube2" style="position: absolute; top:130px; left: 30%;">
        <table>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
        </table>
    </div>
    <div class="nube" id="nube3" style="position: absolute; top:50px; left: 70%;">
        <table>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
        </table>
    </div>
    <div class="nube" id="nube4" style="position: absolute; top:10px; left: 85%;">
        <table>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="negro"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="blanco"></td>
                <td class="negro"></td>
            </tr>
            <tr>
                <td class="nada"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="negro"></td>
                <td class="nada"></td>
            </tr>
        </table>
    </div>
    <div class="container" id="blur">
        <div class="margen">
            <p class="titulo">TyperTraining</p>
            <div class="consola">
                <div class="bienvenida">
                    <h1 id="bienvenida"></h1>
                </div>
                <p class="main-text">esto es un texto muy cabronsete</p>
                <div class="temporizador">
                    <a href="/cerrar-sesion">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"width="" height="" viewBox="0 0 516.000000 483.000000"preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,483.000000) scale(0.100000,-0.100000)"
                        fill="" stroke="none">
                        <path d="M2360 3375 l0 -675 145 0 145 0 0 675 0 675 -145 0 -145 0 0 -675z"/>
                        <path d="M1454 3471 c-2 -2 -4 -136 -4 -298 l0 -293 150 0 150 0 0 150 0 150
                        150 0 150 0 0 145 0 144 -296 3 c-163 2 -298 1 -300 -1z"/>
                        <path d="M2960 3325 l0 -145 150 0 149 0 3 -147 3 -148 148 -3 147 -3 0 296 0
                        295 -300 0 -300 0 0 -145z"/>
                        <path d="M1150 2420 l0 -450 145 0 145 0 0 450 0 450 -145 0 -145 0 0 -450z"/>
                        <path d="M3570 2420 l0 -450 145 0 145 0 0 450 0 450 -145 0 -145 0 0 -450z"/>
                        <path d="M1452 1663 l3 -298 298 -3 297 -2 0 150 0 150 -150 0 -150 0 0 150 0
                        150 -150 0 -150 0 2 -297z"/>
                        <path d="M3268 1943 c-1 -10 -2 -76 -3 -148 l0 -130 -153 -3 -153 -3 3 -147 3
                        -147 295 0 295 0 3 298 2 297 -145 0 c-131 0 -145 -2 -147 -17z"/>
                        <path d="M2054 1347 c-2 -7 -3 -74 -2 -148 l3 -134 450 0 450 0 0 145 0 145
                        -448 3 c-362 2 -449 0 -453 -11z"/>
                        </g>
                        </svg>
                        Cerrar Sesion</a>  
                    <div class="barra-carga">
                        <div class="barra-progreso" id="barra-progreso">
                            <div class="porcentaje" id="porcentaje">0%</div>
                        </div>
                    </div>
                    <div class="recordMostrar">
                        <svg class="trofeo" version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="421.000000pt" height="461.000000pt" viewBox="0 0 421.000000 461.000000"
                        preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,461.000000) scale(0.100000,-0.100000)"
                        fill="white" stroke="none">
                        <path d="M1018 4493 l-3 -98 -97 -3 -97 -3 -3 -97 -3 -97 -97 -3 -98 -3 -2
                        -197 -3 -197 -198 -3 -197 -2 0 -94 c0 -80 3 -95 17 -101 10 -3 92 -6 183 -5
                        91 1 171 1 178 1 9 -1 12 -27 12 -96 l0 -94 -97 -3 -98 -3 -3 -197 -2 -198
                        -95 0 -95 0 0 -100 0 -100 100 0 100 0 0 -100 0 -100 195 0 195 0 2 598 3 597
                        97 3 97 3 3 -103 3 -103 1098 -3 1097 -2 0 -500 0 -499 -97 -3 -98 -3 -3 -197
                        -2 -198 -100 0 -100 0 0 -95 0 -95 -100 0 -100 0 0 -100 0 -100 200 0 200 0 0
                        100 0 100 100 0 100 0 0 100 0 100 100 0 100 0 0 200 0 200 200 0 200 0 0 100
                        0 100 100 0 100 0 0 100 0 100 100 0 100 0 0 295 0 295 -100 0 -100 0 0 -102
                        0 -101 -152 6 c-83 4 -173 7 -200 7 l-48 0 0 95 0 95 198 2 197 3 3 98 3 97
                        -201 0 -200 0 0 200 0 200 -100 0 -99 0 -3 98 -3 97 -97 3 -98 3 0 99 0 100
                        -1095 0 -1094 0 -3 -97z m-408 -1598 l0 -96 -97 3 -98 3 -3 93 -3 92 101 0
                        100 0 0 -95z"/>
                        <path d="M20 3295 l0 -295 95 0 95 0 0 295 0 295 -95 0 -95 0 0 -295z"/>
                        <path d="M820 2399 l0 -199 95 0 95 0 0 198 0 199 -95 0 -95 0 0 -198z"/>
                        <path d="M1020 2095 l0 -95 95 0 95 0 0 95 0 95 -95 0 -95 0 0 -95z"/>
                        <path d="M1318 1993 l-98 -4 0 -94 0 -95 195 0 195 0 0 100 0 100 -97 -2 c-54
                        -1 -142 -4 -195 -5z"/>
                        <path d="M1620 1701 l0 -100 98 -3 97 -3 3 -503 2 -502 95 0 95 0 0 500 0 500
                        100 0 100 0 0 -500 0 -500 100 0 100 0 0 -100 0 -100 100 0 100 0 0 -100 0
                        -100 -595 0 -595 0 0 -95 0 -95 696 0 695 0 -3 98 -3 97 100 0 100 0 0 95 0
                        95 -97 3 -98 3 0 99 0 100 -200 0 -200 0 0 505 0 505 100 0 101 0 -3 98 -3 97
                        -492 3 -493 2 0 -99z"/>
                        <path d="M1420 490 l0 -100 195 0 195 0 0 100 0 100 -195 0 -195 0 0 -100z"/>
                        <path d="M1218 380 c-1 -5 -2 -50 0 -100 l3 -90 63 0 c35 0 78 3 95 6 l31 6 0
                        94 0 94 -94 0 c-53 0 -96 -4 -98 -10z"/>
                        </g>
                    </svg><div>PPM: <span class="ppm"><%= ppm %></span></div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-margen">
            <p class="titulo-modal">Resultados</p>
            <div class="modal-consola" id="modal-consola">
                <div class="puntuacion">
                    <p id="modal-consola-text" style="color: white; margin: 0; font-size: 9em;"></p>
                    <p style="color: white; margin: 0; font-size: 3em;">PPM</p>
                </div>
                <button id="replay">Volver a jugar</button>
            </div>
        </div>
    </div>
    <div class="bottom"></div>
    <p style="display: none;" class="user_id"><%=user_id%></p>
    <script src="/scripts/main.js"></script>
</body>
</html>