<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/scripts/css/login.css">
    <link rel="icon" href="/scripts/images/keyboard.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/scripts/images/keyboard.ico" type="image/x-icon">
</head>
<body>
    <canvas id="canvas" style="background: #111;"></canvas>
    <div class="divLogo">
        <div class="loginLogo">
            <span></span>
            LOG IN
        </div>
    </div>
    <div class="login">
        <div class="logoUser">
            <svg id="logo-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            </svg>
            <div class="line"></div>
        </div>
        <div class="centro">
            <form action="/login" method="post">
                <input type="text" name="username" id="" placeholder="USERNAME" class="inputs">
                <br>
                <input type="password" name="password" id="" placeholder="PASSWORD" class="inputs">
                <br>
                <div class="submits">
                    <input type="submit" value="LOGIN" class="inputLogin">
                    <a class="inputRegistro" href="/registro">SIGN UP</a>
                </div>
            </form>
        </div>
    </div>
      
    <% if (typeof Validaciones !== 'undefined' && Validaciones.length > 0) { %>
        <div class="contenedor-toast" id="contenedor-toast">
            <div class="toast auto-cierre" id="toast">
                <div class="contenido">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                        </svg>
                    </div>
                    <div class="texto">
                        <p class="titulo"> <%= Validaciones[0].msg %> </p>
                    </div>
                </div>
                <button class="btn-cerrar">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>
            </div>
        </div>
    <% } %>
<script src="/scripts/login.js"></script>
</body>
</html>